<!DOCTYPE html>
<html>
    <head>
        <title>Our-world | Discovery Land Company</title>
        <link href="../css/our-worlds.css" rel="stylesheet">
    </head>
    <body>
<!---- header part ------>
    <header class="header-content">
        
            <div class="video">
                <video src="../assests/experiences_hero.mp4" type="video/mp4" autoplay muted loop class="vid"></video>
            </div>    
            <div class="menu">
                    <div class="logo">
                        <img src="../assests/logo.PNG">
                        <span class="head-comapny">Discovery</span><br>
                        <span class="head-comapny">LAND COMPANY</span>
    
                    </div>
                    <ul class="menu-list">
                        <li><a href="" style="color: white;">About DLC</a></li>
                        <li><a href="our-worlds.html" style="color: white;">Our Worlds</a></li>
                        <li><a href="experience.html" style="color: white;">Experiences</a></li>
                        <li><a href="index.html" style="color: white;">Gallery</a></li>
                        <li><a href="" style="color: white;">Press</a></li>
                    </ul>
                    
            </div>
            <div class="un">
                <span>Unforgettable</span><br>
                <span>experience</span>
            </div>
            
        </header>
    
    
    
    <!-----main part ------>
    <div class="part-1">
        <div>Memorable days. Exceptional nights. We believe it's our</div>
        <div>mission to make every minute matter. So you can live</div>
        <div>your life to the fullest, with the people closest to you.</div>
    </div>

    <div class="text-container">
        <div class="text-ourWorld">
            <h3 style="text-align: center; font-size: 40px; color: aliceblue">Exclusive to<br>your world</h3>
            <p style="text-align: center; font-size: large; color: aliceblue">Our worlds are designed to offer you endless <br>
                experiences and adventures every single minute of the <br>
                day. Each of our settings offers a relaxed sense of <br>
                community through exceptional clubhouses, <br>
                world-class golf courses, welcoming staff and an <br>
                extensive Outdoor Pursuits program. Create moments <br>
                of joy and wonder, unforgettable memories and <br>
                cherished times, together with those who matter most.
            </p>
        </div>
        <div>
            <img src="../assests/experiences_private-marina-in-lake-tahoe-3.jpg" class="img-scuba">
        </div>
    </div>

    <div class="part-2">
        <div class="Image">
            <img src="../assests/experiences_golf.jpg">
        </div>
        <div class="img-part-text">
            <h2 style="text-align: left; padding: 0px 0 0 30px; color: aliceblue">Golf</h2>
            <p style="padding: 10px; color: aliceblue;"> We commission the world's most renowned course 
                architects to design spectacular golf experiences on 
                challenging yet incredibly playable 18-hole courses. 
                Our trademark comfort stations also set new standards in on-course amenities.
            </p>
            <button>Explore</button>
        </div>
    </div>

    <div class="part-3">
        <div class="img-part-tex1">
            <h3 style="text-align: left; padding: 0px 0 0 30px; color: aliceblue">Pursuits Program</h3>
            <p style="color: aliceblue;">Our signature Outdoor Pursuits program is designed for families to
                create memories together. Whether you're trying a new sport or taking a day trip, our team will
                ensure you make the most of every minute with activities designed to help you take advantage of
                everything each region has to offer.
            </p>
            <button>Explore</button>
        </div>
        <div class="Image1">
            <img src="../assests/experiences_outdoor_persuit.jpg">
        </div>
    </div>

    <div class="part-2">
        <div class="Image">
            <img src="../assests/experiences_Zapotal-Luxury-Wellness.jpg">
        </div>
        <div class="img-part-text">
            <h3  style="text-align: left; padding: 0px 0 0 30px; color: aliceblue;">Wellness</h3>
            <p style="padding: 10px; color: aliceblue;" >Unwind at an indulgent spa. Set challenging targets with a tailor-made
                fitness plan. Or let our talented chefs treat you to our flavorful international menus created
                using the finest, carefully selected foods sourced locally from organic farms.</p>
            <button>Explore</button>
        </div>
    </div>

    <div class="bottom-block">
        <div class="Image">
            <img src="../assests/experiences_Barbuda-ocean-club.jpg">
        </div>
        <div>Our Worlds</div>
        <br>
        <button style="font-size: 30px;">Explore</button>
    </div>

    <!--- footer ---->
    <footer>
        <div class="footer-all">
            <div class="footer-logo">
                <img src="../assests/logo.PNG">
            </div>
            <div>
                GET IN TOUCH<br>
                (480) 624-5200<br>
                mail@discoverylandco.com
            </div>
            <div class="footer-content">
                About DLC<br>
                Our Worlds<br>
                Experiences<br>
                Gallery<br>
                Press<br>
            </div>
            
            <div class="footer-content">
                Magazine<br>
                Careers<br>
                Foundation<br>
                Company<br>
                Contact<br>
                Privacy
            </div>
        </div>
        

        <div class="footer-copyright">
            <span>Discovery Land Company. All right reserved.</span>
        </div>

    </footer>
    
</body>
</html>