<!DOCTYPE html>
<html>
    <head>
        <title>Gallery | Discovery Land Company</title>
        <link href="../css/index.css" rel="stylesheet">
        
    </head>
    <body>
        <header class="header-content">
                
            <div class="menu">
                    <div class="logo">
                        <img src="../assests/logo-text.png">
                    </div>
                    <ul class="menu-list">
                        <li><a href="" style="color: white;">About DLC</a></li>
                        <li><a href="our-worlds.html" style="color: white;">Our Worlds</a></li>
                        <li><a href="experience.html" style="color: white;">Experiences</a></li>
                        <li><a href="index.html" style="color: white;">Gallery</a></li>
                        <li><a href="" style="color: white;">Press</a></li>
                    </ul>
                    
            </div>
            
            <div class="Gallery-heading">
                <h1 >Gallery</h1>
            </div>
            
        </header>
        
        <div class="gallery-image">
            <img src="../assests/Outdoor Pursuits.jpg">
        
        <img src="../assests/Golf.jpg">
        
        <img src="../assests/Lifestyle.jpg">
        
        </div>

        <div class="image-caption">
            <table>
                <tr>
                    <td>Outdoor Pursuits</td>
                    <td>Golf</td>
                    <td>Lifestyle</td>
                </tr>
            </table>
        </div>

        

        <div class="gallery-image">
        
            <img src="../assests/Landscapes.jpg">
            <img src="../assests/Clubhouses.jpg">
            <img src="../assests/Wellness.jpg">
        </div>
        
        <div class="image-caption">
            <table>
                <tr>
                    <td>Landscapes</td>
                    <td>Clubhouses</td>
                    <td>Wellness</td>
                </tr>
            </table>
        </div>

        <footer>
            <div class="footer-all">
                <div class="footer-logo">
                    <img src="../assests/logo.PNG">
                </div>
                <div>
                    GET IN TOUCH<br>
                    (480) 624-5200<br>
                    mail@discoverylandco.com
                </div>
                <div class="footer-content">
                    About DLC<br>
                    Our Worlds<br>
                    Experiences<br>
                    Gallery<br>
                    Press<br>
                </div>
                
                <div class="footer-content">
                    Magazine<br>
                    Careers<br>
                    Foundation<br>
                    Company<br>
                    Contact<br>
                    Privacy
                </div>
            </div>
            

            <div class="footer-copyright">
                <span>&#169;&nbsp; Discovery Land Company. All right reserved.</span>
            </div>
            
            
        </footer>
        
    </body>
</html>

<!--https://github.com/PratikBhivgade9595/DiscoveryApp/tree/master/pages-->
<!--https://github.com/sunil4846/DiscoveryApp/tree/master/pages-->
<!--https://github.com/Nikhilkumbhare97/DiscoveryAPP/tree/master/HTML-->