<!DOCTYPE html>
<html>
    <head>
        <title>Our-world | Discovery Land Company</title>
        <link href="../css/our-worlds.css" rel="stylesheet">
    </head>
    <body>
        <header class="header-content">
                
            <div class="menu">
                    <div class="logo">
                        <img src="../assests/logo.PNG">
                        <span class="head-comapny">Discovery</span><br>
                        <span class="head-comapny">LAND COMPANY</span>
    
                    </div>
                    <ul class="menu-list">
                        <li><a href="" style="color: white;">About DLC</a></li>
                        <li><a href="our-worlds.html" style="color: white;">Our Worlds</a></li>
                        <li><a href="experience.html" style="color: white;">Experiences</a></li>
                        <li><a href="index.html" style="color: white;">Gallery</a></li>
                        <li><a href="" style="color: white;">Press</a></li>
                    </ul>
                    
            </div>
            
            
        </header>

        <div class="gallery-image">
            <div class="discovery-dunes">
                <img src="../assests/Discovery-dunes.jpg"><br>
                <span class="caption">DISCOVERY DUNES</span><br>
                <span class="caption-place">Dubai South, United Arab Emirates</span>
            </div>
            
            <div class="hill-golf-club">
                <img src="../assests/Hill-golf-club.jpg"><br>
                <span class="caption">The Hill golf club</span><br>
                <span class="caption-place">The Hamptons, New York</span>
            </div>
            <div class="taymouth-castle">
                <img src="../assests/Taymouth-castle.jpg"><br>
                <span class="caption">TAYMOUTH CASTLE</span><br>
                <span class="caption-place">Perthshire, Scotland</span>
            </div>
            <div class="homewood-mountain-lake-club">
                <img src="../assests/homewood.jpg"><br>
                <span class="caption">HOMEWOOD MOUNTAIN & LAKE CLUB</span><br>
                <span class="caption-place">Lake Tahoe, California</span>
            </div>
            <div class="naples-beach-club">
                <img src="../assests/naples.jpg"><br>
                <span class="caption">NAPLES BEACH CLUB</span><br>
                <span class="caption-place">Naples, Florida</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">ZAPOTAL BEACH CLUB</span><br>
                <span class="caption-place">Guanacaste, Costa Rica</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">NORTH SHORE PRESERVE</span><br>
                <span class="caption-place">kaua'i, Hawaii</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">JAMES ISLAND</span><br>
                <span class="caption-place">Southern Gulf Islands, British Columbia, Canada</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">COSTATERRA</span><br>
                <span class="caption-place">Comporta, Portugal</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">BARBUDA OCEAN CLUB</span><br>
                <span class="caption-place">Barbuda, West Indies</span>
            </div>
            <div class="discovery-dunes">
                <img src="../assests/Discovery-dunes.jpg"><br>
                <span class="caption">DRIFTWOOD</span><br>
                <span class="caption-place">Austin Texas</span>
            </div>
            
            <div class="hill-golf-club">
                <img src="../assests/Hill-golf-club.jpg"><br>
                <span class="caption">TROUBADOUR</span><br>
                <span class="caption-place">Nashville, Tennessee</span>
            </div>
            <div class="taymouth-castle">
                <img src="../assests/Taymouth-castle.jpg"><br>
                <span class="caption">PLAYA GRANDE</span><br>
                <span class="caption-place">Rio San Juan, Dominican Republic</span>
            </div>
            <div class="homewood-mountain-lake-club">
                <img src="../assests/homewood.jpg"><br>
                <span class="caption">CHILENO BAY</span><br>
                <span class="caption-place">Cabo San Lucas, Mexico</span>
            </div>
            <div class="naples-beach-club">
                <img src="../assests/naples.jpg"><br>
                <span class="caption">THE SUMMIT</span><br>
                <span class="caption-place">Las Vegas, Nevada</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">DUNE DECK</span><br>
                <span class="caption-place">Westhampton Beach, New York</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">Silo Ridge</span><br>
                <span class="caption-place">Amenia, New York</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">MAKENA</span><br>
                <span class="caption-place">Maui, Hawaii</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">YELLOWSTONE CLUB</span><br>
                <span class="caption-place">Big Sky, Montana</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">GOZZER RANCH</span><br>
                <span class="caption-place">Coeur d'Alene, Idaho</span>
            </div>
            <div class="discovery-dunes">
                <img src="../assests/Discovery-dunes.jpg"><br>
                <span class="caption">EL DORADO</span><br>
                <span class="caption-place"span>Los Cabos, Mexico</span>
            </div>
            
            <div class="hill-golf-club">
                <img src="../assests/Hill-golf-club.jpg"><br>
                <span class="caption">MADISON</span><br>
                <span class="caption-place">La Quinta, California</span>
            </div>
            <div class="taymouth-castle">
                <img src="../assests/Taymouth-castle.jpg"><br>
                <span class="caption">BAKER'S BAY</span><br>
                <span class="caption-place">Great Guana Cay, Bahamas</span>
            </div>
            <div class="homewood-mountain-lake-club">
                <img src="../assests/homewood.jpg"><br>
                <span class="caption">HIDEAWAY</span><br>
                <span class="caption-place">La Quinta, California</span>
            </div>
            <div class="naples-beach-club">
                <img src="../assests/naples.jpg"><br>
                <span class="caption">MOUNTAINTOP</span><br>
                <span class="caption-place">Cashiers, North Carolina</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">MIRABEL</span><br>
                <span class="caption-place">Scottsdale, Arizona</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">KUKIO</span><br>
                <span class="caption-place">kohala, Hawaii</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">VAQUERO</span><br>
                <span class="caption-place">Westlake, Texas</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">IRON HORSE</span><br>
                <span class="caption-place">Whitefish, Montana</span>
            </div>
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">CORDEVALLE</span><br>
                <span class="caption-place">Silicon Valley, California</span>
            </div>
            
            <div class="estancia">
                <img src="../assests/Estancia.jpg"><br>
                <span class="caption">ESTANCIA</span><br>
                <span class="caption-place">Scottsdale, Arizona</span>
            </div>

        </div>
        
        

        <footer>
            <div class="footer-all">
                <div class="footer-logo">
                    <img src="../assests/logo.PNG">
                </div>
                <div>
                    GET IN TOUCH<br>
                    (480) 624-5200<br>
                    mail@discoverylandco.com
                </div>
                <div class="footer-content">
                    About DLC<br>
                    Our Worlds<br>
                    Experiences<br>
                    Gallery<br>
                    Press<br>
                </div>
                
                <div class="footer-content">
                    Magazine<br>
                    Careers<br>
                    Foundation<br>
                    Company<br>
                    Contact<br>
                    Privacy
                </div>
            </div>
            

            <div class="footer-copyright">
                <span>Discovery Land Company. All right reserved.</span>
            </div>
   
        </footer>
        
    </body>
</html>